@b: 75rem;
@primarycolor: #C62F2F;
@link_active: #ccafaf;
@border_1px: rgba(7, 17, 27, 0.1);
@list_active: #d5d5d5;
@rgba_active: rgba(0,0,0,0.1);
@icon_color: #999;
@maskBackground: rgba(0,0,0,0.5);
@sideBackground: rgba(0,0,0,0.5);